Options +FollowSymLinks +ExecCGI
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule .* - [L]
RewriteRule ^favicon.ico$ favicon_local.ico [QSA,L]
RewriteRule ^(.*)$ ../system/bin/handle.php [QSA,L]
</IfModule>