Options +FollowSymLinks +ExecCGI
<IfModule mod_rewrite.c>
RewriteEngine On

RewriteCond %{REQUEST_URI} ^(?!/static/).+ [NC]
RewriteCond %{DOCUMENT_ROOT}/static/$1 -f
RewriteRule ^(.*) %{DOCUMENT_ROOT}/static/$1 [L]

RewriteCond %{REQUEST_URI} ^(?!/static/).+ [NC]
RewriteRule ^(.*)$ system/bin/handle.php [QSA,L]
</IfModule>